body{
    color: #ffffff;
    background: url("https://images.unsplash.com/photo-1495085461086-ae0ad0a8fd74?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    background-attachment: fixed;
}
.form{
    padding-top: 90px;
    width:100%;
    color: #fff;
    
}
.form-section{
     background: rgba(0, 0, 0, 0.5);
     padding: 20px;
}
.form-input-details{
      padding: 30px;
      width:80%;
      margin:0 auto;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.form-input-details, label{
    text-align: left;
}

p{
    padding-top: 30px;
    font-size: 16px;
    color: black;
    text-align: left;
    width:100%;
    margin:0 auto;
}
input[type="text"], input[type='email'], input[type="password"]
{
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    outline: none;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
}
.home-page{
    width: 100%;
    background-color: #ffffff;
    min-height: 100vh;
}/*
.nav-bar{
    padding-top: 20px;
    width: 100%;
    color: #ffffff;
    margin: 0 auto;
    height: 100px;
    border-bottom:2px solid rgb(177, 162, 162);

}*/
/*
.nav-bar-section{
    width:75%;
    margin: 0 auto;
    color: rgb(46, 43, 43);
}*/
.heros-page{
    width:83%;
    margin: 0 auto;
    color: rgb(46, 43, 43);
    padding-bottom: 100px;
    
}/*
.nav-bar-section h3{
    padding-top: 30px;
    padding-bottom: 20px;
}*/
.col-sm{
    background:#ffffff;
    border-left:1px solid rgb(189, 180, 180);
    border-bottom:1px solid rgb(189, 180, 180);
    margin: 60px;
    padding-top: 30px;

}
.heros-page h1{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
.col-sm h3{
    letter-spacing: 1px;
    padding: 5px;
    color: rgb(180, 28, 28);
    width: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-sm h5{
    letter-spacing: 1px;
    padding-top: 30px;
    color:rgb(97, 89, 89);
    border-bottom:1px solid rgb(189, 180, 180);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.col-sm span{
    letter-spacing: 1px;
    padding-top: 5px;
    color:rgb(59, 37, 37);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about-section{
    padding-top:200px;
    text-align:left;
    margin:0 auto;
    width:75%;

}
.about-section h1{
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-align:left;
}
.footer{
    border-top:1px solid rgb(46, 43, 43);
}
.footer p{
    text-align:center;
}
#logout{
    position:right;
}


nav{
    display: flex;
    justify-content:space-around;
    min-height: 15vh;
    align-items: center;
    font-family: inherit;
    border-bottom: 1px solid rgb(218, 213, 213);
    position: fixed;
    z-index: 10;
    background:white;
    width:100%;
}
nav .logo{
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
li{
    list-style-type: none;
}
.nav-item{
    color: black;
}
nav .nav-links{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
nav .nav-links .nav-item{
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    text-decoration:none;
}
nav .nav-links .nav-item:hover{
    border-bottom: 1px solid green;
    color: red;
}
nav .fa-bars{
    font-size: 16px;
    display: none;
    cursor: pointer;
}


